<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div>
    <div class="hALG">
        <h1 th:text="${message}">This is a placeholder</h1>
        <button id="but" onclick="toggle()">press </button>
        <img id="gif" src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZDlpcWhyOGU0NDdkY3d0bXN1bnFyd3FyNnMyYjIzMGxoNmpyNGJvdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/uVL9KCnJDySzK/200.webp"
         alt="gif">
    </div>

    <form action="/submitForm" method="GET">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age">
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
<script src="/js/script.js"></script>
</body>
</html>