<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="center vALG">

        <form class="vALG" action="/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <label for="full_name">full name:</label>
            <input type="text" id="full_name" name="fullname" required>
            <br>
            <label for="email">email:</label>
            <input type="text" id="email" name="email" required>
            <br>

            <div>
                <button type="submit">Register!</button>
                <a href="/page2">
                    <button type="button">Back to Login</button>
                </a>
            </div>
            <p th:text="${status}"></p>
        </form>
    </div>
</body>
</html>